priority -50

snippet tk "Transaction" b
${1:`!v strftime("%Y")`}-${2:`!v strftime("%m")`}-${3:`!v strftime("%d")`} ${4:*} ${5:Home}
	Expenses:${6:food}  		Ksh ${7:0}.00
	Assets:${8:mpesa}$0
endsnippet
